export default {
  owner: 'buildo',
  token: '123abc',
  frequency: 10000, // milliseconds
  repos: [{
    name: 'repo1'
  }, {
    owner: 'foo',
    name: 'repo2',
    token: '456def',
    apiURL: 'https://github.example.com/api/v3'
  }]
};
