{
  "org": "buildo",
  "token": "abc123",
  "frequency": 10000,
  "repos": [{
    "name": "bar",
    "token": "def456",
    "apiURL": "https://github.example.com/api/v3"
  }],
  "labelsTemplate": "https://raw.githubusercontent.com/buildo/example/master/github-labels.json"
}
